
<ion-view view-title="Blockchain Passport">
    <ion-content>
        <div class="im-wrapper">
  			<img src="img/logo.png">
            <!-- Forms -->
            <h4 class="border-top"></i>Signature</h4>
            <div class="list">
                {{pushNotification}}
            </div>
        <button class="button button-block button-calm ink" data-ink-color="#AA0000" data-ink-opacity="1" ng-click="sign()">
                    Sign
                </button>
        </div>
    </ion-content>
</ion-view>
